
body{
    background-color: black;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 65%;
}

.info-section{
    background: url(https://images.pexels.com/photos/1090972/pexels-photo-1090972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    /* background-image: url(https://images.pexels.com/photos/1090972/pexels-photo-1090972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); */
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(5, 5, 5, 0.301);
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.596);
    height: 790px;
}

.hey{
    margin-top: 170px;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.966)
}

.aboutMe{
    font-size: 20px;
    color: rgb(146, 144, 144);
}
.github{
    color: white;
}

.github:hover{
    color: rgb(13, 197, 197);
}

.linkedin{
    color:white;
}

.linkedin:hover{
    color: rgb(13, 197, 197);

}

.downAarow{
    color: white;
}

.aarowRow{
    margin-top: 15%;
}

.downAarow:hover{
    color: rgb(13, 197, 197);

}